{% load static %}



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>My Books</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
</head>
<body>
<div id="container">
  <div id="header">
    <h1>MY ALL BOOKS</h1>
  </div>
  <div id="sideheader"></div>
  <div id="left_column">
    <div class="left_column_boxes">
      <h4>Navigation</h4>
      <div id="navcontainer">
        <ul id="navlist">
          <li id="active"><a href="/" id="current">Home</a></li>
          <li id="active"><a href="borrowed" id="current">Borrowed</a></li>
          <li id="active"><a href="lent" id="current">Lent</a></li>
        </ul>
      </div>
    </div>


    <p class="center">Created by Ashraful Haque Sifat - 2022 </p>
  </div>
  <div id="content">
    <h3>List Of All Books</h3><br>
    {% for book in books %}
    <div class="card">
      <h1>{{book.name}}</h1>
      <p>{{book.writer}}</p>
      <h3><b>{{book.short_desc}}</b></h3><br>
      <h4>Book Owner : {{book.owner}}</h4>
      <a href="details/{{book.id}}"><img src="{{book.image.url}}"></a>
    </div>
    {% endfor %}
  </div>
  <div id="footer"></div>
</div>
</body>
</html>
