{% load static %}



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>HOME</title>
<link rel="shortcut icon" href="icon.png" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
</head>
<body>
<div id="container">
  <div id="header">
    <h1>MY very own Library</h1>
  </div>
  <div id="sideheader"></div>
  <div id="left_column">
    <div class="left_column_boxes">
      <h4>Navigation</h4>
      <div id="navcontainer">
        <ul id="navlist">
          <li id="active"><a href="/" id="current">Home</a></li>
          <li id="active"><a href="all_books" id="current">Books</a></li>
          <li id="active"><a href="borrowed" id="current">Borrowed</a></li>
          <li id="active"><a href="lent" id="current">Lent</a></li>
        </ul>
      </div>
    </div>


    <p class="center">Created by Ashraful Haque Sifat - 2022 </p>
  </div>
  <div id="content">
    <h3> `Some Quotes` </h3>
    <p> 'A reader lives a thousand lives before he dies . . . The man who never reads lives only one.' - George R.R. Martin<br><br> 'Until I feared I would lose it, I never loved to read. One does not love breathing.' - Harper Lee <br><br> 'Never trust anyone who has not brought a book with them.' - Lemony Snicket <br><br>  'I find television very educating. Every time somebody turns on the set, I go into the other room and read a book.' - Groucho Marx</p>
    <br>
    <h3>~ My Interests ~</h3><br>
    <h3>Psychology</h3>
    <p>Psychology is the scientific study of mind and behavior. Psychology includes the study of conscious and unconscious phenomena, including feelings and thoughts. It is an academic discipline of immense scope, crossing the boundaries between the natural and social sciences. Psychologists seek an understanding of the emergent properties of brains, linking the discipline to neuroscience. As social scientists, psychologists aim to understand the behavior of individuals and groups.</p>

    <h3>Astrophysics/Astronomy/Cosmology</h3>
    <p>Astrophysics is a branch of space science that applies the laws of physics and chemistry to seek to understand the universe and our place in it.

The field explores topics such as the birth, life and death of stars, planets, galaxies, nebulae and other objects in the universe. It has two sibling sciences, astronomy and cosmology, though the lines between these branches can blur. </p>
    <h3>Aenean purus pede</h3>
    <p>Vivamus diam orci, bibendum eu, venenatis a, gravida et, nisl. Donec  felis tortor, rhoncus eu, convallis ac, mattis id, est. Donec commodo,  dui vel eleifend varius, lacus nunc suscipit risus, eget bibendum nunc  velit lobortis sapien. Nam sodales volutpat nibh. Cras et justo.  Praesent pede. In sed eros cursus arcu tristique congue. Nulla iaculis  ante sit amet sapien auctor tincidunt. Aliquam sit amet libero. Aliquam  mauris tellus, gravida nec, nonummy vel, tincidunt hendrerit, mi. Etiam  cursus mi et turpis. Phasellus et mi in dolor feugiat feugiat.  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  posuere cubilia Curae; Fusce commodo. </p>
    <h3>Vivamus diam orci</h3>
    <p>Aenean purus pede, tempor ut, iaculis ac, tincidunt interdum, urna.  Pellentesque quis mauris. Morbi porttitor blandit nisl. Suspendisse  potenti. Cras sem. Maecenas sit amet eros a augue fringilla posuere. Ut  bibendum ultricies lorem. Donec interdum. In interdum ullamcorper nisl.  Mauris tortor pede, accumsan a, tempus et, fermentum et, lectus. In  congue ligula ut odio. Sed adipiscing pharetra quam. </p>
  </div>
  <div id="footer"></div>
</div>
</body>
</html>
